---
---

@import "{{ site.theme }}";

.container {
  max-width: 1200px;
}

.flex {
  display: flex;
}
#sidebar {
  flex: none;
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid #666;
}
#main_content {
  flex: auto;
}
